body {
    max-width: 100%;  
    height: 100%;
    margin: 0px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    padding: 0px;  
    background-color: #121212;    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f8f8f8;
}

.navbar {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
 
}

.logo {
    width: 140px;
    display: inline-block;
    padding-left: 48px;
    max-width: 140px;
    transition: transform .7s ease-in-out;

}


.logo:hover{
    transform: scale(1.4) rotate(10deg);
    color: #f8f8f8;
}


.nav_links li {
    margin-left: 24px;
}

.nav_links:hover {
   color:#91e9d6;
   text-decoration: underline;
   font-weight: 600;
}

.nav_links, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}


.nav_link li, a {
    display: inline;
    float: left;
    font-size: 24px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 36px;
    text-decoration: none;
    color: #f8f8f8;
}

/* hover link*/
li, a:hover {
    color: #91e9d6;
    text-decoration: underline;
    font-weight: 600;
}

/* selected link */
li, a:active {
    color: orange;
}


h1 {
    font-size: 84px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    color: #f8f8f8;
    line-height: normal;
    font-weight: 700;
    font-style: normal;

}

h2 { 
    font-size: 38px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    line-height: normal;
    color: #f8f8f8;
    margin-left: 48px;
    font-weight: 800;
}

h3 {
    font-size: 32px;
    line-height: normal;
    color: #f8f8f8;
    font-family: "neue-haas-grotesk-display", sans-serif;
    
}

p {
    color: #f8f8f8;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.1rem;
}

.hero {
    float: right;
    margin-top: 48px;
    width: 600px;
    max-width: 80%;
}

/*hero text old
.hero_text { 
    margin-top: 240px;
    text-align: center;    
    margin-left: 48px;
    font-weight: 700;
    display: block;
    margin-left: 48px;
}
*/

.hero_text {
    margin-top: 24px;
    margin-left: 24px;
    max-width: 80%;
    text-align: left;
    font-weight: 700;
    display: block;
}

.name {
    color: #f8f8f8;
    margin-left: 24px;
    text-align: left;
    width: 100%;
    font-size: 48px;
}


.h1color h1  {
    color: #f8f8f8;
    text-align: center;
    text-decoration: none;
}

.h1color h1, a:active {
    text-decoration: none;
}

.h1color h1, a:hover{
    text-decoration: none;
}
  



.film {
    background-image: url(Images/Cars.png);
    height: 800px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-shadow: inset 0 0 0 2000px rgba(127, 119, 127, 0.2);
}

.film_text {
    padding-top: 150px;
    vertical-align: center;
    margin-top: 24px;
    width: 100%;
 
}

.digital {
    background-image: url(Images/berries.jpg);
    height: 800px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: sticky;
    background-attachment: scroll;
    box-shadow: inset 0 0 0 2000px rgba(127, 119, 127, 0.2);
}

.digital_text {
    padding-top: 125px;
    vertical-align: center;
    width: 100%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
}

  .column img {
      margin-top: 8px;
      vertical-align: middle;
      max-width: 100%;
  }

p { 
    align-items: left;
    padding-top: 8px;
    padding-left: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
}

header h2  {
    font-size: 42px;
    line-height: normal;
    color: #f8f8f8;
    margin-left: 48px;
    margin-bottom: 4px;
}

header p {
    font-size: 18px;
    line-height: normal;
    color: #f8f8f8;
    padding-bottom: 24px;
}

footer {
text-align: left;
max-width: 100%;
display: block;
margin-left: 48px;

}

footer a {
    text-align: left;
    font-size: 16px;
    color: #f8f8f8;
    font-weight: 400;
}

footer li {
        float: left;
        font-family: "neue-haas-grotesk-display", sans-serif;
        margin-left: 16px;
        margin-top: 8px;
        margin-bottom: 24px;
        text-decoration: none;
}

.artstation:hover {
        content: url("Logo/artstation\ hover.svg")
        
}


.github:hover {
    content: url("Logo/github\ hover.svg")
}

.linkedin:hover {
    content: url("Logo/linkedin\ hover.svg")
}

.copyright {
    color: grey;
    text-decoration: none;
    margin: 8px;
    text-align: left;
    width: 100%;
}

.people {
    background-image: url(Images/lookleft.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-shadow: inset 0 0 0 2000px rgba(127, 119, 127, 0.2);
}

.people_text {
    padding-top: 48px;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.places {
    background-image: url(Images/bwbuilding.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-shadow: inset 0 0 0 2000px rgba(127, 119, 127, 0.2);
}

.places_text {
    padding-top: 48px;
    width: 100%;
    text-align: center;
    vertical-align: center; 
}

.things {
    background-image: url(Images/whiteflower.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-shadow: inset 0 0 0 2000px rgba(127, 119, 127, 0.2);
}

.things_text {
    padding-top: 48px;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

/*marquee
.marquee_text {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    kerning: auto;
    background-color:peachpuff;
    color: #070707;
    padding: 12px;
}
*/


.not_ready {
    margin-top: 240px;
    font-family: "neue-haas-grotesk-display", sans-serif;    
    text-align: center;
    font-weight: 700;
    display: block;
    max-width: 100%;
}
